body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
}
h1 {
  margin: 50px auto 0 auto;
  font-family: "Sacramento", cursive;
  font-size: 90px;
  color: #66bfbf;
}

p {
  color: #40514e;
  font-weight: bold;
}

.designer {
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
  line-height: 2;
}

h2 {
  font-family: "Montserrat", sans-serif;
  color: #66bfbf;
  font-size: 2.5rem;
}

h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}

.top-container {
  background-color: #e4f9f5;
  position: relative;
  padding-top: 100px;
}

.skill-row {
  width: 50%;
  text-align: left;
  margin: 100px auto;
  line-height: 2;
}

.skill-img1 {
  width: 20%;
  float: left;
  margin-right: 30px;
}

.skill-img2 {
  width: 20%;
  float: right;
  margin-left: 30px;
}

.img1 {
  position: absolute;
  right: 300px;
  top: 50px;
}

.img2 {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.btn {
  color: white;
  background-color: #6dd8d8;
  border-radius: 10px;
  padding: 15px 20px;
  font-size: 20px;
  font-family: "Montserrat", sans-serif;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.bottom-container {
  background-color: #5ab3b3;
  padding: 50px;
}

.footer-link {
  color: #11999e;
  padding: 20px;
  font-family: "Merriweather", serif;
  text-decoration: none;
}

.copyright {
  position: relative;
  top: 20px;
  color: white;
  font-size: 0.75rem;
  font-family: "Merriweather", serif;
}

.footer-link:hover {
  color: white;
}

hr {
  border: 6px dotted #919b9b;
  width: 4%;
  border-bottom: none;
  margin: 100px auto;
}
